/data
/design
/dist
/images

/core/server/target
/core/server/config.toml
/core/ui/dist
/core/ui/node_modules

/core-lib/build/target
/core-lib/build/Cargo.lock
/core-lib/js/dist/node_modules
/core-lib/lib/target
/core-lib/lib/Cargo.lock
/core-lib/ui/node_modules

/pwvault/server/target
/pwvault/ui/dist
/pwvault/ui/node_modules

/serverstats