/data
/design
/dist
/images
/target

/core/server/config.toml
/core/ui/dist
/core/ui/node_modules

/core-lib/js/dist
/core-lib/js/node_modules
/core-lib/ui/dist
/core-lib/ui/node_modules

/cinema/ui/dist
/cinema/ui/node_modules

/pwvault/ui/dist
/pwvault/ui/node_modules

/serverstats
/setup
